# Server
PORT=3000

# Database Configuration
DB_HOST=your-database-host
DB_USER=your-database-username
DB_PASSWORD=your-database-password
DB_NAME=your-database-name
DB_PORT=3306

# Environment type
# Values: development, production, staging
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:5173